<template>
  <v-navigation-drawer
    v-model="inputValue"
    absolute
    temporary
  >
    <v-layout
      class="fill-height"
      tag="v-list"
      column
    >
      <v-list-item>
        <v-list-item-content>
          <v-list-item-title class="title">
            {{getAppTitle}}
          </v-list-item-title>
        </v-list-item-content>
      </v-list-item>
      <v-divider/>
      <v-list dense>

        <v-list-item
          v-for="(link, i) in getAppLinks"
          :key="i"
          :to="link.to"
          link
        >
          <v-list-item-icon>
            <v-icon>{{ link.icon }}</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title>{{ link.text }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-layout>
  </v-navigation-drawer>
</template>

<script>
import { mapGetters, mapMutations } from 'vuex'

export default {
  name: 'Drawer',
  computed: {
    ...mapGetters([
      'getAppTitle',
      'isResponsive',
      'getAppLinks'
    ]),
    inputValue: {
      get () {
        return this.$store.state.app.drawer
      },
      set (val) {
        this.setDrawer(val)
      }
    }
  },
  methods: {
    ...mapMutations(['setDrawer'])
  }
}
</script>

<style scoped>

</style>
