<template>
  <v-app-bar
    app

    dark
  >
    <v-toolbar-title style="margin-right: 5px;">{{getAppTitle}}</v-toolbar-title>

    <v-btn
      v-if="isResponsive"
      class="default v-btn--simple"
      dark
      icon
      @click.stop="onClickBtn"
    >
      <v-icon>mdi-view-list</v-icon>
    </v-btn>

    <v-btn
      v-else
      v-for="(link, i) in getAppLinks"
      :key="i"
      :to="link.to"
      text
    >
      <span class="mr-2">{{link.text}}</span>
      <v-icon>{{link.icon}}</v-icon>
    </v-btn>

    <v-spacer></v-spacer>
    <span class="mr-2" v-if="checkIfUserIsLogged">{{getUserName}}</span>
    <span class="mr-2" v-else>You are not Logged</span>
    <v-icon>mdi-account</v-icon>
  </v-app-bar>
</template>

<script>
import { mapGetters, mapActions, mapMutations } from 'vuex'

export default {
  name: 'NavBar',
  data: () => ({
    links: [

    ]
  }),
  computed: {
    ...mapGetters([
      'getAppTitle',
      'isResponsive',
      'getAppLinks',
      'getUserName',
      'getUserFullName',
      'checkIfUserIsLogged'
    ])
  },
  mounted () {
    this.loudUser()
  },
  methods: {
    ...mapMutations(['setDrawer']),
    ...mapActions(['setUser']),
    onClickBtn () {
      this.setDrawer(!this.$store.state.app.drawer)
    },
    loudUser () {
      this.axios.get('/api/getUserData.php').then(res => {
        if (res.data.status === 200) {
          this.setUser(res.data.body)
        }
      })
    }
  }
}
</script>

<style scoped>

</style>
