<template>
  <v-container>
    <GmapMap map-type-id="hybrid" ref="mapRef" :center="defaultValue.centerPosition" :zoom="defaultValue.zoom" :options="mapOptions" @zoom_changed="setZoom" @center_changed="centerChange" @click="newPoint" style="width: 100%; height: 500px">
      <GmapMarker v-if="newMarker.lat && newMarker.lng" :position="newMarker" :draggable="false"></GmapMarker>
    </GmapMap>
  </v-container>
</template>

<script>
import { mapActions } from 'vuex'
import { debounce } from 'debounce'

export default {
  name: 'AddNewMap',
  props: {
    newMarker: { type: Object },
    center: { type: Object },
    zoom: { type: Number }
  },
  data: () => ({
    mapOptions: {
      fullscreenControl: false,
      streetViewControl: false
    },
    defaultValue: {
      zoom: 10,
      centerPosition: {
        lat: 52.0406575,
        lng: -0.763258
      }
    },
    centerHelp: {
      lat: 52.0406575,
      lng: -0.763258
    },
    isAdded: false
  }),
  mounted () {
    this.defaultValue.zoom = this.zoom
    this.defaultValue.centerPosition = this.center
  },
  methods: {
    ...mapActions([
      'setMapZoom'
    ]),
    centerChange (center) {
      this.centerHelp = {
        lat: center.lat(),
        lng: center.lng()
      }
      this.updateCenter()
    },
    updateCenter: debounce(function () {
      this.$store.commit('setMapBounds', this.getMapBounds())
      this.$store.commit('setCenterPosition', this.centerHelp)
    }, 500),
    getMapBounds () {
      var sw = this.$refs.mapRef.$mapObject.getBounds().getSouthWest()
      var ne = this.$refs.mapRef.$mapObject.getBounds().getNorthEast()

      return {
        south: sw.lat(),
        west: sw.lng(),
        north: ne.lat(),
        east: ne.lng()
      }
    },
    setZoom (level) {
      this.setMapZoom(level)
      this.defaultValue.zoom = level
      this.$emit('update:zoom', level)
    },
    newPoint (e) {
      this.newMarker.lat = e.latLng.lat()
      this.newMarker.lng = e.latLng.lng()
      this.isAdded = true
      this.$emit('update:newMarker', this.newMarker)
    }
  }
}
</script>

<style scoped>

</style>
