<template>
  <v-container>
    <v-form ref="form" v-model="valid" lazy-validation>
      <p>Create a location by clicking on the map.</p>
      <AddNewMap :new-marker.sync="helpPosition" :center="helpCenter" :zoom.sync="helpZoom"></AddNewMap>
      <v-row>
        <v-col cols="12" sm="6">
          <v-text-field
            label="Latitude coordinate"
            v-model="helpPosition.lat"
            :rules="locationRules"
            readonly
          ></v-text-field>
        </v-col>

        <v-col cols="12" sm="6">
          <v-text-field
            label="Longitude coordinate"
            v-model="helpPosition.lng"
            :rules="locationRules"
            readonly
          ></v-text-field>
        </v-col>
      </v-row>
      <p>Select a habitat type for the location.</p>
      <v-row>
        <v-col>
          <v-select
            v-model="helpHabitat"
            :items="habitatItems"
            :rules="habitatRules"
            item-text="name"
            item-value="habitat_number"
            label="Habitat type"
          ></v-select>
        </v-col>
      </v-row>
    </v-form>
  </v-container>
</template>

<script>
import AddNewMap from '@/components/NewRecord/AddNewMap'
import { mapGetters } from 'vuex'

export default {
  name: 'LocationDetails',
  props: {
    position: { type: Object },
    zoom: { type: Number },
    habitat: { required: true }
  },
  data: () => ({
    valid: false,
    locationRules: [
      v => v !== 0 || 'Location is required'
    ],
    habitatRules: [
      v => !!v || 'Habitat is required'
    ],
    habitatItems: [],
    helpHabitat: null,
    helpZoom: 5,
    helpCenter: {
      lat: 52.0406575,
      lng: -0.763258
    },
    helpPosition: {
      lat: 0,
      lng: 0
    }
  }),
  watch: {
    helpPosition: {
      deep: true,
      handler (newVal) {
        this.$emit('update:position', newVal)
      }
    },
    helpZoom: function (newVal, oldVal) {
      this.$emit('update:zoom', newVal)
    },
    helpHabitat: function (newVal, oldVal) {
      this.$emit('update:habitat', newVal)
    }
  },
  beforeMount () {
    this.helpPosition = this.position
    this.helpZoom = this.zoom
    if (window.navigator.geolocation) {
      window.navigator.geolocation.getCurrentPosition(pos => {
        this.helpCenter.lat = pos.coords.latitude
        this.helpCenter.lng = pos.coords.longitude
        this.$store.commit('setCenterPosition', this.helpCenter)
        this.$emit('update:zoom', 10)
      })
    } else {
      this.helpCenter = this.getCenterPosition
      this.helpZoom = this.getMapZoom
      this.$emit('update:zoom', this.helpZoom)
    }
  },
  mounted () {
    this.helpHabitat = this.habitat
    this.helpPosition = this.position
    this.helpZoom = this.zoom
    this.getHabitats()
  },
  methods: {
    validate () {
      return this.$refs.form.validate()
    },
    getHabitats () {
      this.axios.get('/api/getHabitats.php')
        .then(res => {
          if (res.data.status === 200) {
            this.habitatItems = res.data.body
          }
        }).catch(error => {
          console.log(error)
        })
    }
  },
  computed: {
    ...mapGetters([
      'getCenterPosition',
      'getMapZoom'
    ])
  },
  components: {
    AddNewMap
  }
}
</script>

<style scoped>

</style>
