<template>
<v-container>
  <v-form ref="form" v-model="valid" lazy-validation>
    <v-card-text>
      <p>Enter the name of your record and the date you collected the sample data.
      We recommend you avoid using your full name here as this information is visible to all users..</p>
      <v-text-field
        label="Record name"
        v-model="nameHelp"
        :rules="nameRules"
        required
        @keyup="$emit('update:name', nameHelp)"
      ></v-text-field>
      <v-text-field
        label="Comment"
        v-model="commentHelp"
        @keyup="$emit('update:comment', commentHelp)"
      ></v-text-field>
      <v-menu
        ref="menu"
        v-model="menu"
        :close-on-content-click="false"
        transition="scale-transition"
        min-width="290px"
      >
        <template v-slot:activator="{ on, attrs }">
          <v-text-field
            v-model="helpDate"
            label="Sample date"
            prepend-icon="mdi-calendar-month"
            readonly
            required
            v-bind="attrs"
            v-on="on"
          ></v-text-field>
        </template>
        <v-date-picker v-model="helpDate" no-title scrollable @input="$refs.menu.save(helpDate)">
        </v-date-picker>
      </v-menu>
    </v-card-text>
  </v-form>
</v-container>
</template>

<script>
export default {
  name: 'RecordDetails',
  props: {
    name: { type: String, required: true },
    comment: { type: String, required: true },
    date: { required: true }
  },
  data: () => ({
    valid: false,
    nameHelp: '',
    commentHelp: '',
    nameRules: [
      v => !!v || 'Name is required'
    ],
    menu: false,
    helpDate: null
  }),
  mounted () {
    this.helpDate = this.date
  },
  methods: {
    validate () {
      return this.$refs.form.validate()
    }
  },
  watch: {
    helpDate: function (newVal, oldVal) {
      if (newVal !== oldVal) {
        this.menu = false
        this.$emit('update:date', newVal)
      }
    }
  }
}
</script>

<style scoped>

</style>
