<template>
  <v-container>
    <v-form ref="form" v-model="valid" lazy-validation>
      <v-row>
        <v-col></v-col>
        <v-col>Yellow</v-col>
        <v-col>Pink</v-col>
        <v-col>Brown</v-col>
      </v-row>
      <v-row>
        <v-col>No bands</v-col>
        <v-col><img :src="getImgUrl(helpSample.yellow.b0.img)">
          <v-text-field
            v-model="helpSample.yellow.b0.val"
            type="number"
            :rules="numberRule"
            solo
          ></v-text-field>
        </v-col>
        <v-col><img :src="getImgUrl(helpSample.pink.b0.img)">
          <v-text-field
            v-model="helpSample.pink.b0.val"
            type="number"
            :rules="numberRule"
            solo
          ></v-text-field></v-col>
        <v-col><img :src="getImgUrl(helpSample.brown.b0.img)">
          <v-text-field
            v-model="helpSample.brown.b0.val"
            type="number"
            :rules="numberRule"
            solo
          ></v-text-field></v-col>
      </v-row>
      <v-row>
        <v-col>One band</v-col>
        <v-col><img :src="getImgUrl(helpSample.yellow.b1.img)">
          <v-text-field
            v-model="helpSample.yellow.b1.val"
            type="number"
            :rules="numberRule"
            solo
          ></v-text-field>
        </v-col>
        <v-col><img :src="getImgUrl(helpSample.pink.b1.img)">
          <v-text-field
            v-model="helpSample.pink.b1.val"
            type="number"
            :rules="numberRule"
            solo
          ></v-text-field></v-col>
        <v-col><img :src="getImgUrl(helpSample.brown.b1.img)">
          <v-text-field
            v-model="helpSample.brown.b1.val"
            type="number"
            :rules="numberRule"
            solo
          ></v-text-field></v-col>
      </v-row>
      <v-row>
        <v-col>Many bands</v-col>
        <v-col><img :src="getImgUrl(helpSample.yellow.b5.img)">
          <v-text-field
            v-model="helpSample.yellow.b5.val"
            type="number"
            :rules="numberRule"
            solo
          ></v-text-field>
        </v-col>
        <v-col><img :src="getImgUrl(helpSample.pink.b5.img)">
          <v-text-field
            v-model="helpSample.pink.b5.val"
            type="number"
            :rules="numberRule"
            solo
          ></v-text-field></v-col>
        <v-col><img :src="getImgUrl(helpSample.brown.b5.img)">
          <v-text-field
            v-model="helpSample.brown.b5.val"
            type="number"
            :rules="numberRule"
            solo
          ></v-text-field></v-col>
      </v-row>
    </v-form>
  </v-container>
</template>

<script>
export default {
  name: 'SamplesTable',
  props: {
    samples: { type: Object, required: true }
  },
  data: () => ({
    valid: false,
    numberRule: [
      v => (isNaN(parseFloat(v)) || v >= 0) || 'Number must be bigger than 0',
      v => (isNaN(parseFloat(v)) || v <= 100) || 'Number must be less than 100'
    ],
    helpSample: {
      yellow: {
        b0: {
          val: null,
          img: '/assets/snail/nemoralis/cnyellow_0.gif'
        },
        b1: {
          val: null,
          img: '/assets/snail/nemoralis/cnyellow_1.gif'
        },
        b5: {
          val: null,
          img: '/assets/snail/nemoralis/cnyellow_5.gif'
        }
      },
      pink: {
        b0: {
          val: null,
          img: '/assets/snail/nemoralis/cnpink_0.gif'
        },
        b1: {
          val: null,
          img: '/assets/snail/nemoralis/cnpink_1.gif'
        },
        b5: {
          val: null,
          img: '/assets/snail/nemoralis/cnpink_5.gif'
        }
      },
      brown: {
        b0: {
          val: null,
          img: '/assets/snail/nemoralis/cnbrown_0.gif'
        },
        b1: {
          val: null,
          img: '/assets/snail/nemoralis/cnbrown_1.gif'
        },
        b5: {
          val: null,
          img: '/assets/snail/nemoralis/cnbrown_5.gif'
        }
      }
    }
  }),
  mounted () {
    this.helpSample = this.samples
  },
  watch: {
    helpSample: {
      deep: true,
      handler (newValue) {
        for (var color in newValue) {
          for (var band in newValue[color]) {
            if (parseInt(newValue[color][band].val) < 0) {
              this.helpSample[color][band].val = 0
              newValue[color][band].val = 0
            }
          }
        }
        this.$emit('update:samples', newValue)
      }
    }
  },
  methods: {
    validate () {
      return this.$refs.form.validate()
    },
    getImgUrl (url) {
      return process.env.VUE_APP_BASE_URL + url
    }
  }
}
</script>

<style scoped>
.col {
  text-align: center;
}
</style>
