<template>
  <v-container>
    <p>Type the number of each type of morph in the boxes provided for each species.</p>
    <p>Check you have done this correctly and then select "Save". A box left blank indicates that you found no snails of this type.</p>
    <v-snackbar
      color="red"
      top
      v-model="error"
      dark
    >
      <v-icon
        color="white"
        class="mr-3"
      >
        mdi-alert-circle-outline
      </v-icon>
      You need to provide some samples.
      <v-icon
        @click="error = false"
      >
        mdi-close-circle
      </v-icon>
    </v-snackbar>
    <v-expansion-panels v-model="panel">
      <v-expansion-panel
        key="nemoralis"
      >
        <v-expansion-panel-header>
          <div>
          <v-avatar
            color="blue-grey"
            class="subheading white--text"
            size="20"
            left
          >{{getNemoralisCount}}</v-avatar>
            <span style="margin-left: 5px">Brown lipped snail Cepaea nemoralis</span></div></v-expansion-panel-header>
        <v-expansion-panel-content>
          <samples-table ref="nemoralisData" :samples.sync="nemoralisHelper"></samples-table>
        </v-expansion-panel-content>
      </v-expansion-panel>

      <v-expansion-panel
        key="hortensis"
      >
        <v-expansion-panel-header>
          <div><v-avatar
            color="blue-grey"
            class="subheading white--text"
            size="20"
            left
          >{{getHortensisCount}}</v-avatar>
            <span style="margin-left: 5px">White lipped snail Cepaea hortensis</span></div></v-expansion-panel-header>
        <v-expansion-panel-content>
          <samples-table ref="hortensisData" :samples.sync="hortensisHelper"></samples-table>
        </v-expansion-panel-content>
      </v-expansion-panel>
    </v-expansion-panels>
  </v-container>
</template>

<script>
import SamplesTable from '@/components/NewRecord/SamplesTable'

export default {
  name: 'SampleDetails',
  props: {
    nemoralis: { type: Object },
    hortensis: { type: Object }
  },
  data () {
    return {
      panel: 0,
      error: false,
      nemoralisHelper: {
        yellow: {
          b0: {
            val: null,
            img: '/assets/snail/nemoralis/cnyellow_0.gif'
          },
          b1: {
            val: null,
            img: '/assets/snail/nemoralis/cnyellow_1.gif'
          },
          b5: {
            val: null,
            img: '/assets/snail/nemoralis/cnyellow_5.gif'
          }
        },
        pink: {
          b0: {
            val: null,
            img: '/assets/snail/nemoralis/cnpink_0.gif'
          },
          b1: {
            val: null,
            img: '/assets/snail/nemoralis/cnpink_1.gif'
          },
          b5: {
            val: null,
            img: '/assets/snail/nemoralis/cnpink_5.gif'
          }
        },
        brown: {
          b0: {
            val: null,
            img: '/assets/snail/nemoralis/cnbrown_0.gif'
          },
          b1: {
            val: null,
            img: '/assets/snail/nemoralis/cnbrown_1.gif'
          },
          b5: {
            val: null,
            img: '/assets/snail/nemoralis/cnbrown_5.gif'
          }
        }
      },
      hortensisHelper: {
        yellow: {
          b0: {
            val: null,
            img: '/assets/snail/hortensis/chyellow_0.gif'
          },
          b1: {
            val: null,
            img: '/assets/snail/hortensis/chyellow_1.gif'
          },
          b5: {
            val: null,
            img: '/assets/snail/hortensis/chyellow_5.gif'
          }
        },
        pink: {
          b0: {
            val: null,
            img: '/assets/snail/hortensis/chpink_0.gif'
          },
          b1: {
            val: null,
            img: '/assets/snail/hortensis/chpink_1.gif'
          },
          b5: {
            val: null,
            img: '/assets/snail/hortensis/chpink_5.gif'
          }
        },
        brown: {
          b0: {
            val: null,
            img: '/assets/snail/hortensis/chbrown_0.gif'
          },
          b1: {
            val: null,
            img: '/assets/snail/hortensis/chbrown_1.gif'
          },
          b5: {
            val: null,
            img: '/assets/snail/hortensis/chbrown_5.gif'
          }
        }
      }
    }
  },
  mounted () {
    if ('yellow' in this.nemoralis && 'pink' in this.nemoralis && 'brown' in this.nemoralis) {
      for (var cn in this.nemoralis) {
        for (var cn2 in this.nemoralis[cn]) {
          this.nemoralisHelper[cn][cn2].val = this.nemoralis[cn][cn2]
        }
      }
    }

    if ('yellow' in this.hortensis && 'pink' in this.hortensis && 'brown' in this.hortensis) {
      for (var ch in this.hortensis) {
        for (var ch2 in this.hortensis[ch]) {
          this.hortensisHelper[ch][ch2].val = this.hortensis[ch][ch2]
        }
      }
    }
  },
  watch: {
    nemoralisHelper: {
      deep: true,
      handler (newVal) {
        this.$emit('update:nemoralis', this.prepareResult(newVal))
      }
    },
    hortensisHelper: {
      deep: true,
      handler (newVal) {
        this.$emit('update:hortensis', this.prepareResult(newVal))
      }
    }
  },
  computed: {
    getNemoralisCount () {
      return this.countSnail(this.nemoralisHelper)
    },

    getHortensisCount () {
      return this.countSnail(this.hortensisHelper)
    },

    showError () {
      return (this.countSnail(this.nemoralisHelper) === 0 && this.countSnail(this.hortensisHelper) === 0 && this.error)
    }
  },
  methods: {
    validate () {
      if (this.countSnail(this.nemoralisHelper) === 0 && this.countSnail(this.hortensisHelper) === 0) {
        this.error = true
        return false
      } else {
        if (!this.$refs.nemoralisData && !this.$refs.hortensisData) {
          return false
        }

        if (this.$refs.nemoralisData && !this.$refs.nemoralisData.validate()) {
          return false
        }

        if (this.$refs.hortensisData && !this.$refs.hortensisData.validate()) {
          return false
        }

        return true
      }
    },
    prepareResult (newVal) {
      var result = { yellow: {}, pink: {}, brown: {} }
      for (var k in newVal) {
        for (var k2 in newVal[k]) {
          result[k][k2] = newVal[k][k2].val
        }
      }
      return result
    },
    countSnail (data) {
      var i = 0
      for (var k in data) {
        for (var k2 in data[k]) {
          if (data[k][k2].val > 0) {
            i += parseInt(data[k][k2].val)
          }
        }
      }
      return i
    }
  },
  components: {
    SamplesTable
  }
}
</script>

<style scoped>

</style>
