<template>
  <v-card
    class="mx-auto"
    max-width="500"
  >
    <v-card-title class="title font-weight-regular justify-space-between">
      <span>{{ currentTitle }}</span>
      <v-avatar
        color="blue-grey"
        class="subheading white--text"
        size="24"
        v-text="step"
      ></v-avatar>
    </v-card-title>

    <v-window v-model="step" :touchless="true">
      <v-window-item :value="1">
        <record-details ref="recordDetails" :name.sync="newRecord.name" :comment.sync="newRecord.comment" :date.sync="newRecord.date"></record-details>
      </v-window-item>

      <v-window-item :value="2">
        <location-details ref="locationDetails" :position.sync="newRecord.position" :habitat.sync="newRecord.habitat" :zoom.sync="newRecord.zoom"></location-details>
      </v-window-item>

      <v-window-item :value="3">
        <sample-details ref="sampleDetails" :nemoralis.sync="newRecord.samples.nemoralis" :hortensis.sync="newRecord.samples.hortensis"></sample-details>
      </v-window-item>

      <v-window-item :value="4" style="text-align: center; padding-bottom: 20px; padding-top: 20px;">
          <v-progress-circular
            :size="70"
            :width="7"
            color="purple"
            indeterminate
          ></v-progress-circular>
        <p style="margin-top: 20px;">Your data is saving. Please wait.</p>
      </v-window-item>

      <v-window-item :value="5" style="text-align: center; padding-bottom: 20px; padding-top: 20px;">
        <div v-if="success">
          <v-icon x-large color="green darken-2">mdi-check-outline</v-icon>
          <h5>Your data is saved.</h5>
        </div>
        <div v-else>
          <v-icon x-large color="red darken-2">mdi-alert-circle-outline</v-icon>
          <h4>{{errorMsg}}</h4>
        </div>
      </v-window-item>
    </v-window>

    <v-card-actions>
      <v-btn
        :disabled="step === 1"
        v-show="step < 4"
        color="blue-grey"
        text
        dark
        @click="step--"
      >
        Back
      </v-btn>
      <v-spacer></v-spacer>
      <v-btn
        :disabled="step === 4"
        v-show="step < 4"
        color="blue-grey"
        dark
        depressed
        @click="click"
      >
        <span v-if="step < 3">
          Next
        </span>
        <span v-else>Save</span>
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
import RecordDetails from '@/components/NewRecord/RecordDetails'
import LocationDetails from '@/components/NewRecord/LocationDetails'
import SampleDetails from '@/components/NewRecord/SampleDetails'

export default {
  name: 'AddRecords',
  data: () => ({
    step: 1,
    success: false,
    errorMsg: '',
    newRecord: {
      name: '',
      comment: '',
      date: new Date().toISOString().substr(0, 10),
      position: {
        lat: 0,
        lng: 0
      },
      zoom: 10,
      habitat: null,
      samples: {
        nemoralis: {
          yellow: {
            b0: null,
            b1: null,
            b5: null
          },
          pink: {
            b0: null,
            b1: null,
            b5: null
          },
          brown: {
            b0: null,
            b1: null,
            b5: null
          }
        },
        hortensis: {
          yellow: {
            b0: null,
            b1: null,
            b5: null
          },
          pink: {
            b0: null,
            b1: null,
            b5: null
          },
          brown: {
            b0: null,
            b1: null,
            b5: null
          }
        }
      }
    }
  }),
  methods: {
    click () {
      if (this.step === 1) {
        if (this.$refs.recordDetails.validate()) {
          this.step++
        }
      } else if (this.step === 2) {
        if (this.$refs.locationDetails.validate()) {
          this.step++
        }
      } else if (this.step === 3) {
        if (this.$refs.sampleDetails.validate()) {
          this.step++
          this.submitNewRecord()
        }
      }
    },
    submitNewRecord () {
      this.axios.post('/api/addNewRecord.php',
        this.newRecord
      ).then(res => {
        if (res.data.status === 200) {
          this.step = 5
          this.success = true
          this.errorMsg = ''
          setTimeout(() => {
            this.$router.push({ name: 'current', params: this.newRecord.position })
          }, 2000)
        } else {
          this.step = 5
          this.success = false
          this.errorMsg = res.data.body.msg
        }
      }).catch(error => {
        this.success = false
        this.errorMsg = error.response
      })
    }
  },
  computed: {
    currentTitle () {
      switch (this.step) {
        case 1: return 'Record details'
        case 2: return 'Location details'
        case 3: return 'Add your sample data'
        default: return 'Saving your record'
      }
    }
  },
  components: {
    RecordDetails, LocationDetails, SampleDetails
  }
}
</script>

<style scoped>

</style>
