<template>
  <v-container v-scroll="scrollBookmarks">
    <v-data-table
      :headers="headers"
      :items="events"
      hide-default-footer
      class="elevation-2"
      disable-pagination
      :loading="loading"
    >
      <template v-slot:top>
        <v-toolbar flat>
          <v-toolbar-title>Bookmarks</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-select
            v-model="filter"
            :items="filterOption"
            clearable
            item-text="text"
            item-value="key"
            label="Filter"
          ></v-select>
        </v-toolbar>
      </template>

      <template v-slot:item="{ item }">
        <tr>
          <td @click="openEventsDetails(item.eventId, item.scope)">
            <v-icon v-if="item.is_favorite" color="yellow darken-1">mdi-star</v-icon>
          </td>
          <td @click="openEventsDetails(item.eventId, item.scope)">{{ item.recored_by.date }}</td>
          <td @click="openEventsDetails(item.eventId, item.scope)">{{ item.name }}</td>
          <td @click="openEventsDetails(item.eventId, item.scope)">{{ item.comment }}</td>
          <td @click="openEventsDetails(item.eventId, item.scope)">{{ item.habitat_type }}</td>
          <td>
            <v-btn icon @click="goToMap(item, item.scope)"><v-icon>mdi-map-search-outline</v-icon></v-btn>
          </td>
        </tr>
      </template>
    </v-data-table>
    <EventDetails
      :event-id.sync="activeEventId"
      @eventDeleted="deleteEvent"
      @favoriteChange="favoriteStatusChange"
      :scope="activeEventScope" />
  </v-container>
</template>

<script>
import EventDetails from '../components/EventDetails'
import { mapGetters } from 'vuex'

export default {
  name: 'Bookmarks',
  data: () => ({
    filter: null,
    activeEventId: 0,
    loading: false,
    limit: 50,
    offset: 0,
    loadMore: true,
    activeEventScope: 'current',
    events: [],
    filterOption: [
      { key: 'favorite', text: 'Favorite' },
      { key: 'created', text: 'Added by you' }
    ],
    headers: [
      { text: 'Favorite', value: 'is_favorite' },
      { text: 'Date Added', value: 'date_added' },
      { text: 'Name', value: 'name' },
      { text: 'Comment', value: 'comment' },
      { text: 'Habitat type', value: 'habitat_type' },
      { text: 'Action', value: 'method' }
    ]
  }),
  watch: {
    filter: function (newVal, oldVal) {
      if (newVal !== oldVal) {
        this.limit = 50
        this.offset = 0
        this.loadMore = true
        this.events = []
        this.getBookmarks(this.limit, this.offset)
      }
    }
  },
  computed: {
    ...mapGetters([
      'getUserId'
    ])
  },
  methods: {
    getBookmarks (limit, offset) {
      this.loading = true
      this.axios.post('/api/getBookmarks.php', {
        limit: limit,
        offset: offset,
        filter: this.filter
      }).then(res => {
        if (res.data.status === 200) {
          res.data.body.events.forEach(e => {
            const index = this.events.findIndex(e2 => e2.eventId === e.eventId)
            if (index > -1) {
              const nE = Object.assign({}, this.events[index], e)
              this.events[index] = nE
            } else {
              this.events.push(e)
            }
          })
          this.loadMore = (res.data.body.events.length >= this.limit)
          this.offset += res.data.body.events.length
        }
      }).finally(() => {
        this.loading = false
      })
    },
    scrollBookmarks (e) {
      if (
        !this.loading &&
        e.srcElement.scrollTop + window.innerHeight >= e.srcElement.scrollHeight - 300 &&
        this.loadMore
      ) {
        this.getBookmarks(this.limit, this.offset)
      }
    },
    openEventsDetails (eventId, scope) {
      this.activeEventId = parseInt(eventId)
      this.activeEventScope = scope
    },
    goToMap (pin, scope) {
      const position = {
        lat: pin.lat,
        lng: pin.lng,
        zoom_level: 16
      }
      if (scope === 'historic') {
        this.$router.push({ name: 'historic', params: position })
      } else if (scope === 'current') {
        this.$router.push({ name: 'current', params: position })
      }
    },
    favoriteStatusChange (val) {
      const index = this.events.findIndex(e => parseInt(e.eventId) === parseInt(val.eventId))
      if (index > -1 && !val.newVal && parseInt(this.getUserId) !== parseInt(this.events[index].recored_by.userId)) {
        this.events.splice(index, 1)
      }
    },
    deleteEvent (eventId) {
      const index = this.events.findIndex(e => e.eventId === eventId)
      if (index > -1) {
        this.events.splice(index, 1)
      }
    }
  },
  mounted () {
    this.getBookmarks(this.limit, this.offset)
  },
  components: {
    EventDetails
  }
}
</script>

<style scoped>

</style>
