<template>
  <div class="home">
    <v-card
      class="mx-auto"
    >
    <SimpleMap :center="getCenterPosition" :markers="markers" scope="current" @update_map="updateMap" />
<!--    <v-data-table-->
<!--      :headers="headers"-->
<!--      :items="markers"-->
<!--      :items-per-page="5"-->
<!--      class="elevation-1"-->
<!--    ></v-data-table>-->
    </v-card>
  </div>
</template>

<script>
// @ is an alias to /src
import SimpleMap from '../components/SimpleMap'
import { mapGetters, mapActions, mapMutations } from 'vuex'
import { debounce } from 'debounce'

export default {
  name: 'Home',
  data: () => ({
    headers: [
      { text: 'Id', value: 'id' },
      { text: 'Name', value: 'name' },
      { text: 'Latitude', value: 'position.lat' },
      { text: 'longitude', value: 'position.lng' }
    ],
    center: {
      lat: 52.0406575,
      lng: -0.763258
    },
    markers: []
  }),
  beforeMount () {
    let zoomLevel = 14
    if (this.$route.params.zoom_level) {
      zoomLevel = parseInt(this.$route.params.zoom_level, 10)
    }
    if (this.$route.params.lat && this.$route.params.lng) {
      this.setMapZoom(zoomLevel)
      this.center.lat = parseFloat(this.$route.params.lat)
      this.center.lng = parseFloat(this.$route.params.lng)
      this.setCenterPosition(this.center)
    }
  },
  methods: {
    ...mapMutations([
      'setCenterPosition'
    ]),
    ...mapActions([
      'setMapZoom',
      'setMapBounds'
    ]),
    updateMap: debounce(function () {
      this.getDataFromApi()
    }, 500),
    getDataFromApi () {
      var bounds = this.getMapBounds
      var level = this.getMapLevel
      this.axios.post('/api/getHistory.php', {
        scope: 'current',
        south: bounds.south,
        west: bounds.west,
        north: bounds.north,
        east: bounds.east,
        level: level
      }).then(res => {
        if (res.data.status === 200) {
          var positions = []
          for (var k in res.data.body) {
            positions.push({
              id: res.data.body[k].id,
              isSelected: false,
              name: res.data.body[k].name,
              type: res.data.body[k].type,
              img: res.data.body[k].img,
              position: {
                lat: parseFloat(res.data.body[k].latitude),
                lng: parseFloat(res.data.body[k].longitude)
              }
            })
          }
          this.markers = positions
        }
      }).catch(error => {
        console.log(error.response)
      })
    }
  },
  computed: {
    ...mapGetters([
      'getCenterPosition',
      'getMapBounds',
      'getMapLevel'
    ])
  },
  components: {
    SimpleMap
  }
}
</script>
