<template>
  <v-container>
    <h1>Viewing and downloading records</h1>
    <p>Records of snail populations are represented as pie charts. To view individual records in either the ‘Current records’ or ‘Historic records’, click on the appropriate tab in the top bar. You can change between Map and Satellite views by clicking on the buttons at the top left of the map.</p>
    <p>Use the zoom facility (+/- controls) or double click on the map to zoom in to a region of interest. You can move the map around by clicking and dragging. You will need to zoom until you see individual pins.</p>
    <img :src="getImgUrl('/assets/img/map.png')" />
    <p>Click on a pin on the map to find out what records are at that location. The record will include the year that it was created, habitat type and latitude and longitude of the location. Data for C. nemoralis and/or C. hortensis are presented as bar charts in separate tabs and can be downloaded from the ‘Record’ tab by clicking on the download icon:</p>
    <img :src="getImgUrl('/assets/img/dButton.png')" />
    <p>You can move between current records and historic records at a region of interest by selecting the appropriate view from the top bar.</p>
    <p>Please note that when you navigate to a different webpage, your current location on the map will be lost.</p>
    <h1>Uploading a record</h1>
    <p>To upload a record, click on ‘Add new records’ in the top bar. Give your record a name, add a comment (optional) and click ‘Next’.</p>
    <p>Navigate to the appropriate location on the map using the zoom facility and click on the map to create your pin. If necessary, you can reposition your pin by clicking again.</p>
    <p>Select the description that best matches the type of habitat for which you have collected data and click ‘Next’.</p>
    <p>Follow the instructions on the next page to record the numbers of the different morphs that you have identified. Note that there are separate views for C. nemoralis and C. hortensis and it is important that you enter your data in the appropriate one.</p>
    <p>Click ‘Save’ to save your record.</p>
    <p>After a short delay, a pin corresponding to your record will appear on the map. Note that it will have a green stem, instead of orange, to identify it as one of your records.</p>
    <img :src="getImgUrl('/assets/img/uPin.png')" />
    <p>If you leave ‘Add new records’ before you have completed your entry and clicked ‘Save’, your entry will be lost.</p>
    <p>It is not currently possible to edit your record once it is created, but you can delete it if you have entered it incorrectly. To do this, click on the pin and then click on ‘Delete’.</p>
    <h1>Bookmarks</h1>
    <p>The Bookmarks facility is a convenient means to store and retrieve records. The Bookmarks tab is on the right side of the top bar. Once in this tab, records can be directly accessed by selecting the ‘Action‘ button.</p>
    <p>Uploading a record will automatically add it to your Bookmarks, as shown in the screenshot below.</p>
    <img :src="getImgUrl('/assets/img/bookmark_record_default.jpg')" width="800px" />
    <p>It is also possible to bookmark a current or historical record to make it easier to access this record in future. Click on the pin on the map to view the record and select the ‘star‘ icon within the record to add this record to your Bookmarks facility. When the star turns yellow, the record has been added to your Bookmarks, as shown in the screenshots below:</p>
    <img :src="getImgUrl('/assets/img/bookmark_selection.jpg')" width="600px" />
    <img :src="getImgUrl('/assets/img/bookmark_record.jpg')" width="800px" />
    <p>Clicking on the yellow star icon will remove the record from your Bookmarks.</p>
 </v-container>
</template>

<script>
export default {
  name: 'Instruction',
  methods: {
    getImgUrl (path) {
      return process.env.VUE_APP_BASE_URL + path
    }
  }
}
</script>

<style scoped>

</style>
