<template>
  <v-container>
    <p class="font-weight-regular">There were a total of: {{graphData.total}}</p>

    <vue-c3 :handler="handler"></vue-c3>
  </v-container>
</template>

<script>
import Vue from 'vue'
import VueC3 from 'vue-c3'

export default {
  name: 'BinomialCart',
  props: {
    graphData: { type: Object, required: true }
  },
  data () {
    return {
      handler: new Vue()
    }
  },
  mounted () {
    var options = {
      data: {
        columns: [],
        labels: true,
        colors: {},
        type: 'bar'
      },
      axis: {
        x: {
          show: false
        }
      },
      bar: {
        width: {
          ratio: 0.5 // this makes bar width 50% of length between ticks
        }
      },
      tooltip: {
        show: false
      }
    }
    if (this.graphData.info.length) {
      var column = []
      var colors = {}
      for (var k in this.graphData.info) {
        column.push([this.graphData.info[k].label, this.graphData.info[k].value])
        colors[this.graphData.info[k].label] = this.graphData.info[k].color
      }
      options.data.columns = column
      options.data.colors = colors
    }
    this.handler.$emit('init', options)
  },
  components: {
    VueC3
  }
}
</script>

<style>
.c3-chart-texts text {
  fill: #263238 !important;
}
</style>
