<template>
  <v-card flat>
    <v-card-text>
      <v-expansion-panels v-model="panel">
        <v-expansion-panel
          key="comparison"
        >
          <v-expansion-panel-header>{{evolutionData.title}}</v-expansion-panel-header>
          <v-expansion-panel-content>
            <EvolutionComparisonCart :evolution-data="evolutionData"></EvolutionComparisonCart>
          </v-expansion-panel-content>
        </v-expansion-panel>

        <v-expansion-panel
          key="color_significance"
        >
          <v-expansion-panel-header>Colour evolution</v-expansion-panel-header>
          <v-expansion-panel-content>
            <p>{{evolutionData.color_significance}}</p>
          </v-expansion-panel-content>
        </v-expansion-panel>

        <v-expansion-panel
          key="band_significance"
        >
          <v-expansion-panel-header>Band evolution</v-expansion-panel-header>
          <v-expansion-panel-content>
            <p>{{evolutionData.band_significance}}</p>
          </v-expansion-panel-content>
        </v-expansion-panel>

      </v-expansion-panels>
    </v-card-text>
  </v-card>
</template>

<script>
import EvolutionComparisonCart from '@/components/Event/EvolutionComparisonCart'

export default {
  name: 'EvolutionCart',
  props: {
    evolutionData: { type: Object, required: true }
  },
  data () {
    return {
      panel: 0
    }
  },
  components: {
    EvolutionComparisonCart
  }
}
</script>

<style scoped>

</style>
