<template>
  <v-card flat>
    <v-card-text>
      <v-row align="start"
             justify="start"
             no-gutters>
        <v-col>
          <v-card
            class="pa-2"
            flat
          >

          </v-card>
        </v-col>
        <v-col>
          <v-card
            class="pa-2"
            flat
          >
            <div class="text-subtitle-1">{{evolutionData.spots.current.title}}</div>
          </v-card>
        </v-col>
        <v-col>
          <v-card
            class="pa-2"
            flat
          >
            <div class="text-subtitle-1">{{evolutionData.spots.historic.title}}</div>
          </v-card>
        </v-col>
      </v-row>
      <v-row no-gutters>
        <v-col>
          <v-card
            class="pa-2"
            flat
          >
            <div class="text-subtitle-1">Colour</div>
          </v-card>
        </v-col>
        <v-col>
            <vue-c3 :handler="graph.current.colour"></vue-c3>
        </v-col>
        <v-col>
            <vue-c3 :handler="graph.historic.colour"></vue-c3>
        </v-col>
      </v-row>
      <v-row no-gutters>
        <v-col>
          <v-card
            class="pa-2"
            flat
          >
            <div class="text-subtitle-1">Bands</div>
          </v-card>
        </v-col>
        <v-col>
            <vue-c3 :handler="graph.current.band"></vue-c3>
        </v-col>
        <v-col>
            <vue-c3 :handler="graph.historic.band"></vue-c3>
        </v-col>
      </v-row>
      <p class="font-weight-regular">{{evolutionData.distance}}</p>
    </v-card-text>
  </v-card>
</template>

<script>
import Vue from 'vue'
import VueC3 from 'vue-c3'

export default {
  name: 'EvolutionComparisonCart',
  props: {
    evolutionData: { type: Object, required: true }
  },
  data () {
    return {
      graph: {
        current: {
          colour: new Vue(),
          band: new Vue()
        },
        historic: {
          colour: new Vue(),
          band: new Vue()
        }
      }
    }
  },
  mounted () {
    this.graph.current.colour.$emit('init', this.getOptionForPieChart(this.evolutionData.spots.current.data.color, true))
    this.graph.historic.colour.$emit('init', this.getOptionForPieChart(this.evolutionData.spots.historic.data.color, true))

    this.graph.current.band.$emit('init', this.getOptionForPieChart(this.evolutionData.spots.current.data.band, false))
    this.graph.historic.band.$emit('init', this.getOptionForPieChart(this.evolutionData.spots.historic.data.band, false))
  },
  methods: {
    getOptionForPieChart (data, isColor) {
      var options = {
        size: {
          width: 80,
          height: 90
        },
        data: {
          columns: [],
          type: 'pie',
          colors: {}
        },
        legend: {
          show: false
        },
        pie: {
          label: {
            show: false
          }
        }
      }

      if (isColor) {
        options.data.colors = {
          Yellow: '#FFD54F',
          Pink: '#F06292',
          Brown: '#A1887F'
        }
      }

      for (var k in data) {
        options.data.columns.push([data[k].label, data[k].value])
      }

      return options
    }
  },
  components: {
    VueC3
  }
}
</script>

<style scoped>

</style>
