<template>
  <v-card flat>
    <v-card-title>{{ data.name }}</v-card-title>
    <v-card-text>
      <div v-if="data.evolution">
        <v-tabs
          fixed-tabs
          v-model="tab"
          background-color="primary"
          dark
        >
          <v-tab
            key="current"
          >
            Current Record
          </v-tab>
          <v-tab
            key="evolution"
          >
            Evolution
          </v-tab>
        </v-tabs>

        <v-tabs-items v-model="tab">
          <v-tab-item
            key="current"
            v-show="true"
          >
              <binomial-cart :graph-data="getBinomialData"></binomial-cart>
          </v-tab-item>

          <v-tab-item
            key="evolution"
            v-show="true"
          >
            <EvolutionCart :evolution-data="data.evolution"></EvolutionCart>
          </v-tab-item>
        </v-tabs-items>
      </div>
      <div v-else>
        <binomial-cart :graph-data="getBinomialData"></binomial-cart>
      </div>
    </v-card-text>
  </v-card>
</template>

<script>
import EvolutionCart from './EvolutionCart'
import BinomialCart from './BinomialCart'

export default {
  name: 'NemoralisCart',
  props: {
    data: { type: Object, required: true }
  },
  data () {
    return {
      tab: 'current'
    }
  },
  computed: {
    getBinomialData () {
      return this.data
    }
  },
  components: {
    BinomialCart, EvolutionCart
  }
}
</script>

<style scoped>

</style>
