<template>
  <v-card flat>
    <v-card-title>
      <v-icon v-if="!value.is_favorite" @click="saveEvent">mdi-star-outline</v-icon>
      <v-icon v-else color="yellow darken-1" @click="removeFromFavorite">mdi-star</v-icon>
      {{ value.name }}<v-spacer></v-spacer>
      <v-btn class="mx-2" fab dark small color="blue-grey" :href="linkToDownload">
        <v-icon dark>mdi-download</v-icon>
      </v-btn>
      <v-btn :disabled="deleting" v-if="canDelete" color="error" dark @click="deleteEvent()" style="width: 120px">
        <v-progress-circular
          :width="3"
          :size="25"
          color="primary"
          indeterminate
          v-if="deleting"
        ></v-progress-circular>
        <span v-else>Delete</span>
      </v-btn>
    </v-card-title>
    <v-card-text>
      <v-snackbar
        :color="color"
        top
        v-model="snackbar"
        dark
      >
        <v-icon v-if="error" color="white" class="mr-3">mdi-alert-circle-outline</v-icon>
        <v-icon v-else class="mr-3" color="white">mdi-check-outline</v-icon>
        {{errorMsg}}
        <v-icon
          @click="snackbar = false"
        >
          mdi-close-circle
        </v-icon>
      </v-snackbar>

      <p class="font-weight-regular" v-show="haveUser(value.recored_by)">Recorded on: {{ value.recored_by.date }}</p>
      <p class="font-weight-regular" v-show="value.comment">Comment: {{ value.comment }}</p>
      <p class="font-weight-regular" v-show="value.year">Year: {{ value.year }}</p>
      <p class="font-weight-regular" v-show="value.habitat_type">Habitat type: {{ value.habitat_type }}</p>
      <p class="font-weight-regular" v-show="value.lat">Latitude: {{ value.lat }}</p>
      <p class="font-weight-regular" v-show="value.lng">Longitude: {{ value.lng }}</p>
    </v-card-text>
  </v-card>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  name: 'RecordCart',
  props: {
    value: { type: Object, required: true },
    scope: { type: String, required: true }
  },
  data: () => ({
    color: 'error',
    snackbar: false,
    error: false,
    errorMsg: '',
    deleting: false
  }),
  methods: {
    ...mapActions(['changeFavoriteStatus']),
    saveEvent () {
      this.changeFavoriteStatus({
        eventId: this.value.eventId,
        scope: this.scope
      }).then(res => {
        this.$emit('favoriteChange', true)
      })
    },
    removeFromFavorite () {
      this.changeFavoriteStatus({
        eventId: this.value.eventId,
        scope: this.scope
      }).then(res => {
        this.$emit('favoriteChange', false)
      })
    },
    deleteEvent () {
      if (this.haveUser(this.value.recored_by) && !this.deleting) {
        this.deleting = true
        this.axios.post('/api/deleteEvent.php',
          { eventId: this.value.eventId }).then(res => {
          if (res.data.status === 200) {
            this.color = 'success'
            this.error = false
            setTimeout(() => {
              this.deleting = false
              this.$emit('recordRemoved', this.value.eventId)
            }, 2000)
          } else {
            this.color = 'error'
            this.error = true
          }
          this.errorMsg = res.data.body.msg
          this.snackbar = true
        }).catch(error => {
          this.color = 'error'
          this.error = true
          this.snackbar = true
          this.errorMsg = error.response
        })
      }
    },
    haveUser (recoredBy) {
      if ('date' in recoredBy && recoredBy.date !== null) {
        return true
      } else {
        return false
      }
    }
  },
  computed: {
    ...mapGetters([
      'getUserId',
      'getUserIsAdmin'
    ]),
    linkToDownload () {
      return process.env.VUE_APP_BASE_URL + '/api/getPointInfo.php?eventId=' + this.value.eventId + '&scope=' + this.scope + '&format=csv'
    },
    canDelete () {
      return (
        this.scope === 'current' &&
        (this.getUserIsAdmin || ('userId' in this.value.recored_by && this.getUserId === parseInt(this.value.recored_by.userId)))
      )
    }
  }
}
</script>

<style scoped>

</style>
