<template>
  <v-dialog
    v-model="dialog"
    max-width="500"
    v-if="dialog"
  >
    <v-card>
      <v-tabs
        fixed-tabs
        v-model="tab"
        dark
      >
        <v-tab
          v-for="option in options"
          :key="option.key"
          v-show="option.show"
        >
          {{ option.title }}
        </v-tab>
      </v-tabs>

      <v-tabs-items v-model="tab">
        <v-tab-item
          :key="options.record.key"
        >
          <RecordCart
            v-model="options.record.content"
            @recordRemoved="eventDeleted"
            @favoriteChange="changeFavoriteStatus"
            :scope="scope"
          />
        </v-tab-item>

        <v-tab-item
          :key="options.nemoralis.key"
        >
          <NemoralisCart :data="options.nemoralis.content" />
        </v-tab-item>

        <v-tab-item
          :key="options.hortensis.key"
        >
          <NemoralisCart :data="options.hortensis.content" />
        </v-tab-item>
      </v-tabs-items>
    </v-card>
  </v-dialog>
</template>

<script>
import RecordCart from './Event/RecordCart'
import NemoralisCart from './Event/NemoralisCart'

export default {
  name: 'EventDetails',
  props: {
    eventId: { type: Number, required: true },
    scope: { type: String, required: true }
  },
  data: () => ({
    dialog: false,
    tab: null,
    options: {
      record: {
        key: 'record',
        title: 'Record',
        show: true,
        content: {
          name: '',
          is_favorite: false,
          recored_by: {
            user: '',
            date: ''
          },
          comment: '',
          year: '',
          habitat_type: '',
          lat: '',
          lng: ''
        }
      },
      nemoralis: {
        key: 'nemoralis',
        title: 'Nemoralis',
        show: true,
        content: {}
      },
      hortensis: {
        key: 'hortensis',
        title: 'Hortensis',
        show: true,
        content: {}
      }
    }
  }),
  watch: {
    dialog: function (newVal, oldVal) {
      if (!newVal) {
        this.$emit('update:eventId', 0)
      }
    },
    eventId: function (newVal, oldVal) { // watch it
      if (newVal !== 0 && newVal !== oldVal) {
        this.getDataFromAPI(newVal)
      }
    }
  },
  methods: {
    changeFavoriteStatus () {
      const newVal = !this.options.record.content.is_favorite
      this.options.record.content.is_favorite = newVal
      this.$emit('favoriteChange', { eventId: this.eventId, newVal: newVal })
    },
    getDataFromAPI (eventId) {
      this.axios.get('/api/getPointInfo.php?eventId=' + eventId + '&scope=' + this.scope)
        .then(res => {
          if (res.data.status === 200) {
            this.options.record.show = false
            this.options.nemoralis.show = false
            this.options.hortensis.show = false
            if (res.data.body.record != null) {
              this.options.record.show = true
              this.options.record.content = res.data.body.record
            }
            if (res.data.body.nemoralis != null) {
              this.options.nemoralis.show = true
              this.options.nemoralis.content = res.data.body.nemoralis
            }
            if (res.data.body.hortensis != null) {
              this.options.hortensis.show = true
              this.options.hortensis.content = res.data.body.hortensis
            }
            this.tab = 'record'
            this.dialog = true
          }
        }).catch(error => {
          console.log(error)
        })
    },
    eventDeleted (eventId) {
      this.dialog = false
      this.$emit('eventDeleted', eventId)
    }
  },
  components: {
    RecordCart, NemoralisCart
  }
}
</script>

<style scoped>

</style>
