<template>
  <v-container>
    <GmapMap ref="mapRef" map-type-id="hybrid" :center="centerPosition" :zoom="getMapZoom" :options="mapOptions" @zoom_changed="zoomChanged" @idle="init" @center_changed="centerChange" style="height: 600px; width: 100%">
      <GmapMarker v-for="m in markersHelp" :key="m.id" :icon="imgUrl(m)" :position="m.position" :clickable="m.type === 'pin'" :draggable="false" @click="selectPin(m)"></GmapMarker>
    </GmapMap>

    <EventDetails :event-id.sync="currentEventId" @eventDeleted="deleteEvent" :scope="scope" />
  </v-container>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import EventDetails from './EventDetails'
import { debounce } from 'debounce'

export default {
  name: 'SimpleMap',
  props: {
    center: { type: Object, required: true },
    markers: { type: Array, required: true },
    scope: { type: String }
  },
  data: () => ({
    centerHelp: null,
    currentEventId: 0,
    markersHelp: [],
    mapOptions: {
      fullscreenControl: false,
      streetViewControl: false
    },
    centerPosition: {
      lat: 52.0406575,
      lng: -0.763258
    }
  }),
  mounted () {
    this.centerPosition = this.center
    this.markersHelp = this.markers
  },
  watch: {
    markers: function (newVal, oldVal) {
      this.markersHelp = newVal
    }
  },
  methods: {
    ...mapActions([
      'setMapZoom'
    ]),
    init () {
      this.$store.commit('setMapBounds', this.getMapBounds())
      this.$emit('update_map')
    },
    deleteEvent (eventId) {
      for (var k in this.markersHelp) {
        if (parseInt(this.markersHelp[k].id) === parseInt(eventId)) {
          this.markersHelp.splice(this.markersHelp.indexOf(this.markersHelp[k]), 1)
          this.$emit('update:markers', this.markers)
        }
      }
    },
    imgUrl (mark) {
      if (mark.isSelected && 'selectedUrl' in mark.img) {
        return process.env.VUE_APP_BASE_URL + mark.img.selectedUrl
      } else if ('url' in mark.img) {
        return process.env.VUE_APP_BASE_URL + mark.img.url
      } else {
        return null
      }
    },
    zoomChanged (level) {
      this.setMapZoom(level)
      this.$store.commit('setMapBounds', this.getMapBounds())
    },
    centerChange (center) {
      this.centerHelp = {
        lat: center.lat(),
        lng: center.lng()
      }
      this.updateCenter()
    },
    updateCenter: debounce(function () {
      this.$store.commit('setMapBounds', this.getMapBounds())
      this.$store.commit('setCenterPosition', this.centerHelp)
    }, 500),
    getMapBounds () {
      var sw = this.$refs.mapRef.$mapObject.getBounds().getSouthWest()
      var ne = this.$refs.mapRef.$mapObject.getBounds().getNorthEast()

      return {
        south: sw.lat(),
        west: sw.lng(),
        north: ne.lat(),
        east: ne.lng()
      }
    },
    selectPin (marker) {
      if (marker.type === 'pin') {
        this.centerPosition = marker.position
        this.currentEventId = parseInt(marker.id)
        for (var k in this.markers) {
          this.markers[k].isSelected = false
          if (this.markers[k].id === marker.id) {
            this.markers[k].isSelected = true
          }
        }
      }
    }
  },
  computed: {
    ...mapGetters([
      'getMapZoom',
      'getMapLevel'
    ])
  },
  components: {
    EventDetails
  }
}
</script>

<style scoped>

</style>
