<template>
  <v-app>
    <nav-bar></nav-bar>
    <Drawer></Drawer>
    <v-main>
      <router-view></router-view>
    </v-main>
  </v-app>
</template>

<script>
import NavBar from './components/core/NavBar'
import Drawer from './components/core/Drawer'
import { mapActions } from 'vuex'

export default {
  name: 'App',

  components: {
    NavBar, Drawer
  },

  data: () => ({

  }),

  mounted () {
    this.onResponsiveInverted()
    window.addEventListener('resize', this.onResponsiveInverted)
  },
  beforeDestroy () {
    window.removeEventListener('resize', this.onResponsiveInverted)
  },
  methods: mapActions(['onResponsiveInverted'])
}
</script>
